GROQ_API_KEY=gsk_your_groq_key_here
SALESFORCE_CONSUMER_KEY=your_consumer_key_here
SALESFORCE_CONSUMER_SECRET=your_consumer_secret_here
SALESFORCE_USERNAME=your_salesforce_username_here
SALESFORCE_PASSWORD=your_salesforce_password_here
SALESFORCE_SECURITY_TOKEN=your_security_token_here
EVENTBRITE_OAUTH_TOKEN=your_eventbrite_token_here
EVENTBRITE_API_KEY=your_eventbrite_api_key_here
N8N_WEBHOOK_URL=http://localhost:5678